<mat-toolbar color="primary">
  <span>Github Profile Viewer</span>
</mat-toolbar>

<div class="input">
  <form [formGroup]="myForm">
    <mat-form-field>
      <input matInput placeholder="Github Username" formControlName="username">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="findUser()">Find Me</button>
</div>

<div class="card">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div *ngIf="userFound">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>{{location}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="{{avatarUrl}}" alt="Image not found">

      <mat-card-actions>
        <button mat-raised-button color="primary"><a href="{{htmlUrl}}" target="_blank">Go to Github Profile</a></button>
      </mat-card-actions>
    </div>
    <div *ngIf="userNotFound">User Not Found</div>
  </mat-card>
</div>